/* from tailwindcss/base */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* end of tailwindcss/base */

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.first-letter::first-letter {
  text-transform: uppercase;
}

p a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

iframe {
  display: block;
  width: 100%;
  height: calc(100% - 50px);
  border: none;
}

button.atcb-button {
  box-shadow: none;
}

button.reminder-button.action-sheet-button {
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 0;
  border: 1px solid var(--dark50);
  border-radius: 0.25rem;
  background-color: #e5e5e5;
  color: var(--color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  & span.action-sheet-button-inner {
    justify-content: center;
  }
}

.ion-palette-dark button.reminder-button.action-sheet-button {
  background-color: #222;
  color: #f7fafc;
}

.show-on-dark-theme {
  display: none;
}

.ion-palette-dark {
  & .show-on-light-theme {
    display: none;
  }
  & .show-on-dark-theme {
    display: block;
  }
}
